.clock {
    background: orchid;
    border-radius: 5px;
    padding: 8px;
    font-weight: 700;
}

.clock p {
    display: flex;
    justify-content: space-between;
}

.tab-title {
    display: flex;
    justify-content: space-between;
}

.makeBold {
    font-weight: 700;
}

.tab-title>li {
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    cursor: pointer;
    background-color: orange;
}

.tab-title>li:hover {
    background-color: black;
    color: orange;
}