<form action="<% new_user_url %>" method="post">
    <label for="new_user_email">Email</label>
    <input type="text" name="user[:email]">
    <br>

    <label for="new_user_password">Password</label>
    <input type="text" name="user[:password]">
    <br>

    <input type="submit">
</form>